nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #97e1f5;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #97e1f5;

}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
}

nav li a:hover {
  background-color: rgb(240, 135, 83);
}

body {
  font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: lightgrey
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
}
footer{
  text-align: center;
  background: #97e1f5;
  position: fixed;
  bottom: 0;
  width: 100%; 
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 3px 3px 5px 6px lightskyblue;
}
/* Desktop */
@media (min-width: 1024px) {
  /* Style for desktop */
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Style for tablet */
}

/* Mobile */
@media (max-width: 767px) {
  /* Style for mobile */
}


