

body {
    font-family: "Times New Roman", Georgia, Serif;
  background-color: lightgrey
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
footer{
  text-align: center;
  background: #97e1f5;
  position: fixed;
  bottom: 0;
  width: 100%; 
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 3px 3px 5px 6px lightskyblue;
}
