/* the * is used when you need to make a global styleing, but 
is over-ruled when other items are specified*/
*{
    box-sizing: border-box;
}
body{
    /* line-height: 1.8; */
    margin: 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #97e1f5;
    box-shadow: 3px 3px 5px 6px rgb(186, 72, 72);
  }
  
  nav li {
    float: right;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
  }
  
  nav li a:hover {
    background-color: rgb(240, 135, 83);
  }
section{
    display: block;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding:60px 50px;
}
.odd{
    background-color: white;
}
.even{
    background-color: whitesmoke;
}
.info{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    @media (min-width: 786px) {
        float: left;
        width: 66%
    }
}
/* "::before" just means it will display after the specified item/css code. */
.info::before{
    display: table;
    content: " ";
}
h1{
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

h2{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600px;
    margin-bottom: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
h4{
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    margin-bottom: 30px;
}
/* Overflow-x allows the user to scroll horizontally for overflow text. In this case
overflow-x is turned into a slide show*/
.slides{
    display: flex;
    overflow-x:auto;
    scroll-snap-type: x mandatory;
}
/* .slides > .text means that .slides is a parent to .text.
therefore, is this case every instance that a .text is inside of a .slide, 
.text will use these properties
*/
.slides > .text{
    display: flex;
    flex-shrink: 0;
    width: 100%;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
    font-size: 24px;font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 25px;
}

.text{
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    margin-bottom: 30px;
}
footer{
    text-align: center;
    background: #97e1f5;
    position: fixed;
    bottom: 0;
    width: 100%; 
    padding-top: 8px;
    padding-bottom: 8px;
}
/* Desktop */
@media (min-width: 1024px) {
    /* Style for desktop */
  }
  
  /* Tablet */
  @media (min-width: 768px) and (max-width: 1023px) {
    /* Style for tablet */
  }
  
  /* Mobile */
  @media (max-width: 767px) {
    /* Style for mobile */
  }
