/* the * is used when you need to make a global styleing, but 
is over-ruled when other items are specified*/
*{
    box-sizing: border-box;
}
body{
    line-height: 1.8;
}
section{
    display: block;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding:60px 50px;
}
.odd{
    background-color: white;
}
.even{
    background-color: whitesmoke;
}
.info{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    @media (min-width: 786px) {
        float: left;
        width: 66%
    }
}
/* "::before" just means it will display after the specified item/css code. */
.info::before{
    display: table;
    content: " ";
}
h2{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600px;
    margin-bottom: 30px;
}
h4{
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    margin-bottom: 30px;
}
/* Overflow-x allows the user to scroll horizontally for overflow text. In this case
overflow-x is turned into a slide show*/
.slides{
    display: flex;
    overflow-x:auto;
    scroll-snap-type: x mandatory;
}
/* .slides > .text means that .slides is a parent to .text.
therefore, is this case every instance that a .text is inside of a .slide, 
.text will use these properties
*/
.slides > .text{
    display: flex;
    flex-shrink: 0;
    width: 100%;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
    font-size: 24px;font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 25px;
}

.text{
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    margin-bottom: 30px;
}
footer{
    text-align: center;
    background: #97e1f5;
    position: fixed;
    bottom: 0;
    width: 100%; 
    padding-top: 8px;
    padding-bottom: 8px;
}
