
.column {
    width: 100%;
    padding: 10px;
    
}
  body{
   /* background-image: url(wallpicc.png); */

  } 
  /* Spreads out boxed evenly */
  .row{
    display: flex; 
    
   
  } 

 
  /* Style cards */
  .card {
    box-shadow: 0 6px 10px 0 rgb(230, 71, 71);
    padding: 20px;
    text-align: center;
    background-color:  #f1f1f1;
    opacity: 0.0 - 1.0;
  }
 

footer{
  text-align: center;
  background: #97e1f5;
  position: fixed;
  bottom: 0;
  width: 100%; 
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 3px 3px 5px 6px rgba(102, 111, 204, 0.2);
}