footer{
    text-align: center;
    background: #97e1f5;
    position: fixed;
    bottom: 0;
    width: 100%; 
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 3px 3px 5px 6px rgba(102, 111, 204, 0.2);
}
body{
    margin: 0;
  }
  nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #97e1f5;
    
    }
    
    nav li {
      float: right;
    }
    
    nav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
    }
    
    nav li a:hover {
      background-color: rgb(240, 135, 83);
    }

    /* Main column */
.main {   
    
    background-color: white;
    padding: 20px;
  }
  .imgone {
    
    width: 100%;
    padding: 10px;
    border-left: 7px solid rgb(218, 204, 245);
    background-image: url(housing1.png);
    box-shadow: 3px 3px 5px 6px rgb(231, 221, 246);
  }
  .imgtwo {
    
    width: 100%;
    padding: 10px;
    border-left: 7px solid rgb(218, 204, 245);
    background-image: url(housing2.png);
    box-shadow: 3px 3px 5px 6px rgb(231, 221, 246);
  }
  .imgthree {
   
    width: 100%;
    padding: 10px;
    border-left: 7px solid rgb(218, 204, 245);
    background-image: url(housing.png);
    box-shadow: 3px 3px 5px 6px rgb(231, 221, 246);
  }
  p{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  h2{
    text-shadow: 2px 2px 2px rgba(189, 175, 231, 0.6);
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
 
  }
  a:link { text-decoration: none; 
    

  }

/* Desktop */
@media (min-width: 1024px) {
    /* Style for desktop */
  }
  
  /* Tablet */
  @media (min-width: 768px) and (max-width: 1023px) {
    /* Style for tablet */
  }
  
  /* Mobile */
  @media (max-width: 767px) {
    /* Style for mobile */
  }
